Dir
{
   // Content archive stores the results and caches, since they are
   // incompatible with the normal ones.
   ArchiveDir "%(content_archive)s/%(distribution)s";
   CacheDir "%(content_archive)s/%(distribution)s-cache";
   OverrideDir "%(content_archive)s/%(distribution)s-overrides";

};

Default
{
   FileMode 0664;
}

TreeDefault
{
   // Header for Contents file.
   Contents::Header "%(content_archive)s/%(distribution)s-misc/Contents.top";
};

